<div class="col-xs-12 col-md-12">
    <div class="box box-primary grid-filters-box collapse">
        <div class="box-body">
            {% include '@KibaticDatagrid/datagrid-filters.html.twig' %}
        </div>
    </div>

    <div class="box box-primary grid-table-box">
        <div class="box-body">
            {% include '@KibaticDatagrid/datagrid-table.html.twig' %}
        </div>
    </div>
</div>