<div class="col-xs-12 col-md-12">
    <div class="box box-primary grid-filters-box collapse">
        <div class="box-body">
            {% if form is defined %}
                {% include '@KibaticDatagrid/theme/bootstrap4/datagrid-filters.html.twig' %}
            {% endif %}
        </div>
    </div>

    <div class="box box-primary grid-table-box">
        <div class="box-body table-responsive no-padding">
            {% embed '@KibaticDatagrid/theme/bootstrap4/datagrid-table.html.twig' %}
                {% block grid_table_class %}{{ parent() }} sonata-ba-list{% endblock %}
                {% block grid_header_tr_class %}sonata-ba-list-field-header{% endblock %}
                {% block grid_header_th_class %}sonata-ba-list-field-header-string{% endblock %}
            {% endembed %}
        </div>
    </div>
</div>
