.datagrid-filters-toggle {
  &[aria-expanded="true"] .datagrid-filters-show-more {
    display: none;
  }

  &[aria-expanded="false"] .datagrid-filters-show-less {
    display: none;
  }
}
.table-sticky-scroll {
  max-height: 380px;
  overflow-y: auto;

  thead th {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
