{% set actions = value %}

<ul class="list-inline">
{% for action in actions %}
    {% if action.visible is not defined or action.visible %}
        <li class="list-inline-item">
            {% if action.template is defined %}
                {% include action.template %}
            {% else %}
                <a
                    href="{{ action.url }}"
                    class="btn btn-{{ action.btn_type|default('secondary') }} btn-{{ action.btn_size|default('sm') }}"
                >
                    {{ action.name|trans }}
                </a>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
</ul>
