{% set actions = value %}

<ul class="list-inline">
    {% for action in value %}
        {% if action.visible is not defined or action.visible %}
            <li class="list-inline-item">
                {% if action.template is defined %}
                    {% include action.template with action %}
                {% else %}
                    <a href="{{ action.url }}" class="btn btn-outline-primary">
                        {{ action.name|trans }}
                    </a>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
