{% if value is not null -%}
    <a href="{{ path(parameters.route, {'id': value.id}|merge(parameters.route_extra_params|default([]))) }}">
        {{ value|trans }}
    </a>
{% else -%}
    {{- null_value|default('-') -}}
{%- endif %}
