{# Date + heure (sans les secondes) par défaut ; surchargeable via le paramètre
   `format` (ex. 'd/m/Y' pour une colonne purement date). #}
{% set format = parameters.format|default('d/m/Y H:i') %}

<span class="datetime">{% if value is not null %}{{ value|date(format) }}{% else %}{{ null_value|default('-') }}{% endif %}</span>
